<h1>barely a terminal (bterm)</h1>

<p><img src="LICENSE.png" height="20" width="50" alt="btw, this is free software" />
rules if you&rsquo;re reading my code:</p>

<ul>
<li>I&rsquo;m making this just for fun.</li>
<li>I&rsquo;m making this for my personal use.</li>
<li>I&rsquo;m just copying, pasting and editing code from other places.</li>
<li>If you expect this project to be something serious you&rsquo;ll get dissapointed.</li>
</ul>

